<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ClinicDB" connectionString="data source=DESKTOP-83HICPC\SQLEXPRESS;initial catalog=ClinicManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>